version: '3.8'
services:
  jenkins:
    build: .  # Buduje z Dockerfile w bieżącym folderze
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock  # To zostaje – dla komunikacji z hostem
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock

volumes:
  jenkins_home: